body {
  width: 350px;
  background: #dedede;
  margin: 0;
  padding: 0;
}

header {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  background: #d5fff8;
  color: #1492ff;
}

main {
  margin: 8px;
}

div#saveSession {
  position: absolute;
  right: 10px;
  background: #ffc400;
  padding: 8px;
  border-radius: 12px;
}

div.sessions {
  padding-top: 10px;
}

ul#savedSessions {
  background: white;
  border-radius: 10px;
  list-style: none;
  padding: 5px;
}

.option {
  background: #e0e0e0;
  border-radius: 10px;
  padding: 2px;
  margin: 3px;
}

.options {
  float: right;
}

.session {
  margin: 10px;
  box-sizing: border-box;
}
