body {
  width: 350px;
  background: #dedede;
  margin: 0;
  padding: 0;
}

header {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  background: #d5fff8;
  color: #1492ff;
}

main {
  margin: 8px;
}

div#saveSession {
  position: absolute;
  right: 10px;
  background: #ffc400;
  padding: 8px;
  border-radius: 12px;
}

div.sessions {
  padding-top: 10px;
}
